/* Write your CSS here */
.bg-container {
  background-color: #ffd569;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.card-container {
  background-color: #ffffff;
  margin: 30px;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}
.count {
  color: #ffd569;
}
.img-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.images {
  height: 50vh;
  width: 30vw;
}
.button-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.button {
  background-color: #007bff;
  color: #ffffff;
  height: 30px;
  width: 80px;
  border: 0px;
  border-radius: 5px;
  font-size: 11px;
}
